body {
    background: #355778;
}

#progressbar {
    background-color: #747C84;
    border-radius: 8px;
    padding: 3px;
    margin: 40px 30px;

}

@keyframes example {
  from {width: 0%;}
  to {width: var(--w);}
}

#progressbar>div {
    background-color: #5DBFB3;
    width: 0%;
    height: 10px;
    border-radius: 8px;
    animation-duration: 4s;
}

#center {
  display: block;
  margin-top: 30px;
  margin-bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-top: 0px;

}

.flex-child {
    margin-right: auto;
}

.flex-child:first-child {
  margin-left: auto;
  margin-right: -10px;
}

.weather div {
  float: center;
 clear: none;
}
.progressbar_test {
  margin: -20px 30px;
  color:#EEF9FD
}
